body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #111;
    color: #fff;
    text-align: center;
}

header {
    padding: 20px;
    background: #222;
    border-bottom: 3px solid #00aaff;
}

.upload-section,
.music-list {
    margin: 20px auto;
    width: 90%;
    max-width: 700px;
    background: #1a1a1a;
    padding: 20px;
    border-radius: 10px;
}

input[type="file"] {
    margin: 10px 0;
}

button {
    padding: 10px 18px;
    background: #00aaff;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background: #0088cc;
}

.music-item {
    background: #222;
    margin-top: 15px;
    padding: 15px;
    border-radius: 10px;
}

audio {
    width: 100%;
    margin-top: 10px;
  }
